<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .active{

    }
</style>
<body>
    <!--vue对象的html模板-->
    <div id ="app">
        <input type="text" v-model="search">




        <hr>
        <div>{{birth1}}</div>
        <input type="text" v-model="store">
        <input type="button" :class="{active: store>0}"value="加入购物车">
        <hr>

        <input type="button" v-bind:value="value" @click="random=Math.random()">{{random}}
        <br>
   <!-- <input type="button" value="点我" @click="show=!show">-->
        <br>
       <!-- <span v-if="random>0.75">你看到我了说明我是大于0.75</span>
        <br>
        <span v-else-if="random>0.5&&random<=0.75">你看到我了说明我是大于0.5</span>
        <br>
        <span v-else-if="random>0.25">你看到我了说明我是大于0.25</span>
        <br>
        <span v-esle="random>0.75">你看到我了说明我是大于0</span>-->
        <br>
        <!--<span v-show="show">你看到我了说明我是true,show</span>-->



        <hr>
        <ul>
            <li  v-for="(val,key,index in users":key=""index>{{index+1}}.{{key}}:{{val}}</li>

        </ul>



        <hr>
        <ul>
            <li v-if="user.gender=='女'"  v-for="(user,gender,index) in users":key="index">{{index+1}}.{{user.name}}-{{user.gender}}--{{user.age}}</li>

        </ul>



        <hr>
        <input type="checkbox" value="ios" v-model="language">ios<br>
        <input type="checkbox" value="java" v-model="language">java<br>
        <input type="checkbox" value="php" v-model="language">php<br>
        您选择了：{{language.join(",")}}
        <hr>
        <!--双向绑定，v-model：数据模型-->
        <input type="text" v-model="num" @keyup.13="submit">
        <!--v-on:事件名=js表达式-->
        <input type="button" value="点我" @contextMenu.prevent="incr">
        <!--花括号：js表达式-->
        <h1>大家好，我是{{name}},有{{num}}位妹子迷恋我</h1>
    </div>
</body>
<script src="node_modules/vue/dist/vue.js"></script>
<script>
    //初始化了一个vue实例
    const  app = new Vue({
        el:"#app",//element选择器
        data:{      //定义数据模型
            name:"刘德华",
            num:100,
            language:[],
            users:[
                {name:'柳岩', gender:'女', age: 21},
                {name:'虎哥', gender:'男', age: 30},
                {name:'范冰冰', gender:'女', age: 24},
                {name:'刘亦菲', gender:'女', age: 18},
                {name:'古力娜扎', gender:'女', age: 25}
            ],
            user:{
                name:'柳岩', gender:'女', age: 21,


            },
            show:true,
            random:0,
            value:"快来点我",
            store:0,
            birthday:1529032123201,//毫秒值
            search:""
        },
        watch:{
          search(val1,val2){
              //发送异步请求到后台接口
               console.log(val1,val2);
          }
        },
        methods:{
          incr(){
              this.num++;
          },
          submit(){
              console.log("你已经提交了");
          },
            birth(){
              const data = new Date(this.birthday);
              return data.getFullYear()+"年"+data.getMonth()+"月"+data.getDay()+"日";
            },


        },
        computed:{//计算属性，里边也是定义方法，但里边这些方法必须有返回值，计算属性可以像数据模型一样使用
            birth1(){
                const data = new Date(this.birthday);
                return data.getFullYear()+"年"+data.getMonth()+"月"+data.getDay()+"日";
            }
        }
    })
</script>

</html>